<div class="not-found-container">
  <div class="not-found-content">
    <h1>404</h1>
    <h2>
      {{isSearchMode? ("not-found.house-not-available" | translate): ("not-found.page-fot-found" | translate)}}
    </h2>
    <p>
      {{isSearchMode? ("not-found.no-house-in-your-searched-city" | translate): ("not-found.sorry" | translate)}}
    </p>
    @if(!isSearchMode){
    <div class="actions">
      <a routerLink="/" class="home-button">{{"buttons.return-to-home" | translate}}</a>
    </div>
    }
  </div>
</div>
