header {
  color: var(--primary-color);
  border-bottom: 2px solid var(--shadow-color);
  font-size: 1.1rem;
  text-align: center;
  padding: 20px;
  position: relative;

  h1 i {
    position: absolute;
    left: 45%;
    top: 32%;
  }
}

.home-list-container {
  display: flex;
  justify-content: center;
  padding: 20px;

  .home-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 100%;

    .home-list-card {
      background-color: var(--secondary-color);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;

      .home-list-card-image {
        width: 100%;
        height: 210px;
        object-fit: cover;
        display: block;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
      }

      h2 {
        font-size: 1.2rem;
        color: var(--primary-color);
        margin: 15px;
      }

      .city {
        display: flex;
        align-items: center;
        margin: 0 15px 15px;
        font-size: 1.1rem;
        font-weight: bold;

        i {
          color: var(--primary-color);
          margin-right: 5px;
        }

        p {
          font-size: 0.9rem;
          color: black;
        }
      }

      .learn-more {
        margin: 15px;
        font-size: 0.9rem;

        a {
          color: var(--primary-color);
          font-size: 0.9rem;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

