<header>
  <h1><i class="ri-home-smile-fill"></i>Home</h1>
</header>
<app-search></app-search>
@if (isLoading) {
<app-loader></app-loader>
}@else if (housingService.houseList.length === 0) {
  <app-not-found [isSearchMode]="housingService.isSearchMode"></app-not-found>
} 
@else {
<main class="home-list-container">
  <section class="home-list">
    @for (house of housingService.houseList; track house.id) {
    <div class="home-list-card" (click)="onCardClick(house.id)">
      <img
        src="{{ house.photo }}"
        alt="House Image"
        class="home-list-card-image"
      />
      <h2>{{ house.name }}</h2>
      <div class="city">
        <i class="ri-map-pin-2-fill"></i>
        <p>{{ house.city }},</p>
        <p>{{ house.state }}</p>
      </div>
      <div class="learn-more">
        <a [routerLink]="['/details', house.id]">Learn More ></a>
      </div>
    </div>
    }
  </section>
</main>
}
