.search-container {
  display: flex;
  justify-content: start;
  padding: 20px;
  

  form {
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width:100%;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    font-size: 1rem;
    color: black;

    &:focus {
      outline: none;
      border-color: var(--primary-color-dark);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
  }

  label {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 0.9rem;
  }
}

